{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset - MusiLearn{% endblock %}

{% block meta %}
<meta name="description"
    content="MusiLearn is an Online Music Course Platform, providing you the cheapest music courses. Learn Guitar, Drums, Piano, Singing, and many more instruments.">
<meta name="keywords" content="Learn music online, online music courses, online music tutorials">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account/password-reset.css' %}">
{% endblock %}

{% block content %}
<div class="mysignup-container">
    <h2>Password Reset</h2>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Send Reset Request</button>

    </form>

</div>
{% endblock %}