.order-container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 65px 0;
}

.order-container button {
    color: white;
    padding: 6px 15px;
    background-color: rgb(5, 19, 27);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.order-container button a {
    color: white;
    text-decoration: none;
}

.reason {
    color: red;
}

@media screen and (max-width: 768px) {
    .order-container {
        width: 90%;
        margin: auto;
    }
}