{% extends 'base.html' %}
{% load static %}



{% block title %}Order Successful - MusiLearn{%endblock%}

{% block meta %}
<meta name="description"
	content="MusiLearn is an Online Music Course Platform, providing you the cheapest music courses. Learn Guitar, Drums, Piano, Singing, and many more instruments.">
<meta name="keywords" content="Learn music online, online music courses, online music tutorials">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/payment/success.css' %}">
{% endblock %}

{% block content %}
<div class="order-container">
	<div style="display:none">
		<input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
	</div>

	<h2>Course Is Purchased Successfully</h2>
	<h4>Order Id: <strong>{{order_id}}</strong></h4>
	<div style="width: 100%;justify-content: center;" class="button-div">
		<button><a href="{% url 'account:my_courses' %}">My
				Courses</a></button>
	</div>

</div>
{% endblock %}