<div style="width: 75%;margin: auto;" class="main-container">
    <header style="width: 100%;
height: 100%;
background-color: #0c1922;">
        <center>
            <h1 style="color: white;margin: 10px 0;">MusiLearn</h1>
        </center>
    </header>
    <div style="margin-top: 25px;color: #0c1922;
margin-left: 20px;font-size: 1.1rem;" class="to">
        <p>To,</p>
        <p>M/s <strong>{{student.user.first_name}} {{student.user.last_name}}</strong></p>
    </div>
    <div style="margin: 15px 0;color: #0c1922;
margin-left: 20px;font-size: 1.1rem;" class="course">
        <h3>Course Refunded - {{course.title}}</h3>
        <h5 style="font-size: 1rem;">Amount: ₹{{course.price}} Will Be Transfered Within 1-2 Business Days , It May Take
            More Than That</h5>
    </div>
    <div style="margin-top: 25px;color: #0c1922;
margin-left: 20px;font-size: 1.1rem;" class="visit">
        <p>Thanks For Choosing <a href="http://127.0.0.1:8000/">MusiLearn</a></p>
    </div>
</div>